* {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  width: 100vw;
  height: 97vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
}

.container-interface {
  width: 700px;
  height: 140px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  /* border: 1px solid rgb(210, 210, 210); */
}

#container-snake {
  width: 240px;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid rgb(255, 0, 0); */
}

#container-level,
#container-color-menu,
.container-color-snake {
  width: 120px;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid rgb(210, 210, 210); */
}

#container-color-menu,
#container-color-snake {
  width: 80px;
}

#btn-level,
#color-menu,
#color-int-snake,
#color-ext-snake {
  width: 100px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.977);
  border-radius: 5px;
}

#btn-level {
  width: 40px;
}

#score {
  width: 80px;
  color: whitesmoke;
}

#life {
  width: 60px;
  color: whitesmoke;
}

#canvas {
  margin: auto;
}

#container-play {
  width: 600px;
  height: 150px;
  display: flex;
  margin: auto;
  /* border: 1px solid wheat; */
}

#btn-play {
  width: 15em;
  padding: 15px 50px;
  background-color: rgb(86, 0, 108);
  border-radius: 10px;
  color: whitesmoke;
  margin: auto;
  border: none;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 1px;
}

#btn-play:hover {
  cursor: pointer;
  background-color: rgb(167, 0, 209);
}
